.redeem{
    height: 500px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    padding: .5rem;
    margin: 0 500px;
}

button{
    border:0px;
    margin:200px 20px;
    padding:6px;
    text-align: center;
    width:220px;
    height: 40px;
    background-color:black;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

input{
    padding: .5rem;
    border-radius: 10px;
    margin: 0 25px;
}

p{
    font-style: oblique;
    font-family: inherit;
    /* color: grey; */
    padding: .5rem;
    
}

#one{
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}